.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  background-color: #fff;
}

.jumbotron-itallic {
  font-style: italic;
}

.about-title {
  border-bottom: 1px solid black;
}

#spinner {
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}

.tech-image {
  padding-left: 3em;
  height: 100px;
}

/* Center Login Modal */
/* http://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
